.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh 40vh 15vh;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: start;
}

#sq1 {
    grid-row: 1/4;
}

#sq4 {
    grid-column: 2/4;
}

#sq3 {
    grid-row: 1/3;
    grid-column: 4/5;
}

#sq2 {
    grid-row: 3/4;
    grid-column: 2/5;
}
