.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25% 25%;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sq1 {
    grid-column: 1/3;
}

#sq6 {
    grid-column: 1/3;
}