.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: 300px;
    width: 400px;
}

#sq2 {
    grid-row: 2;
    grid-column: 2;
}

#sq3 {
    grid-row: 3;
    grid-column: 3;
}

#sq4 {
    grid-row: 1;
    grid-column: 2; 
}

#sq5 {
    grid-row: 2;
    grid-column: 3; 
}

#sq6 {
    grid-row: 3;
    grid-column: 4; 
}

#sq7 {
    grid-row: 1;
    grid-column: 3; 
}

#sq8 {
    grid-row: 2;
    grid-column: 4; 
}

#sq9 {
    grid-row: 3;
    grid-column: 5; 
}